[run]
branch = True

[report]
omit =
    */tests/*
    */venv/*
exclude_lines =
    raise NotImplementedError
    raise NotImplemented
exclude_also =
    @(abc\. )?abstractmethod
    @(abc\. )?abstractproperty